enum34
future
h5py
progressbar2
tensorboardX
torch==1.13.1+cu117
--extra-index-url https://download.pytorch.org/whl/cu117
torchvision==0.14.1+cu117
--extra-index-url https://download.pytorch.org/whl/cu117
yacs==0.1.8
open3d==0.18.0
